<p>
    <label for="wpwc_graph_number">グラフを表示する日数:</label>
    <input id="wpwc_graph_number" name="wpwc_graph_number" type="text" value="{% if(wpwc_graph_number) %}{{ wpwc_graph_number }}{% end %}" size="3">
</p>
<p>
    <label for="wpwc_top_number">表示する人気記事数:</label>
    <input id="wpwc_top_number" name="wpwc_top_number" type="text" value="{% if(wpwc_top_number) %}{{ wpwc_top_number }}{% end %}" size="3">
</p>
<p>
    <label for="wpwc_comments_number">表示するコメント数:</label>
    <input id="wpwc_comments_number" name="wpwc_comments_number" type="text" value="{% if(wpwc_comments_number) %}{{ wpwc_comments_number }}{% end %}" size="3">
</p>